<main class="mb-3">
    <h1>LISTA DE PACIENTES</h1>
    <div class="row">
      <div class="col-lg-12">
      <a href="pacientes" > <button class="btn btn-secondary float-right">Regresar a Página anterior</button></a>
    </div>
    </div>
</main>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="topnav">
        <a href="/ModificarInfo">Editar información del paciente</a>
        <a href="/EditarInfoPacientes">Eliminar registro</a>
        <div class="search-container">
            <input type="text" placeholder="Buscar Paciente" name="BuscarPaciente" ><a href="/EditarInfoPacientes"> <i class="fa fa-search"></i>
            </a>
        </div>
    </div>
    

<div class="rwd">
    <div class="table table-hover">
        <table class="table">
        <thead>
    <tr>
        <th>NOMBRE COMPLETO</th>
        <th>EDAD</th>
        <th>DOCUMENTO</th>
        <th>TIPO DE SANGRE</th>
        <th>DIRECCIÓN</th>
        <th>SEXO</th>
        <th>FECHA DE NACIMIENTO</th>
        <th>E-MAIL</th>
        <th>TELEFONO</th>
        <th>TRATAMIENTO</th>
        <th>NOMBRE ACUDIENTE</th>
        <th>PARENTESCO</th>
        <th>TELEFONO ACUDIENTE</th>
    </tr>
        </thead>
    <tbody>
    <tr>
        <td>Manuela Suaza Diaz</td>
        <td>23</td>
        <td>1.034.654.521</td>
        <td>O+</td>
        <td>Calle 49d sur #40a 469, Envigado</td>
        <td>Mujer</td>
        <td>22/02/1997</td>
        <td>manusuaza@udea.edu.co</td>
        <td>3195768051</td>
        <td>Ortodoncia</td>
        <td>Blanca Nelly Diaz</td>
        <td>Madre</td>
        <td>3113981196</td>
    </tr>
    <tr>
        <td>Valentina Ardila Diaz</td>
        <td>15</td>
        <td>1.012.612.451</td>
        <td>O+</td>
        <td>Calle 101 sur #15b 52, Envigado</td>
        <td>Mujer</td>
        <td>12/05/2005</td>
        <td>Valenard@hotmail.com</td>
        <td>3124567484</td>
        <td>Ortodoncia</td>
        <td>Lucero Diaz Lopez</td>
        <td>Madre</td>
        <td>3113921157</td>
    </tr>
    <tr>
        <td>Rodolfo Valencia</td>
        <td>70</td>
        <td>15.456.123</td>
        <td>A+</td>
        <td>Calle 36 B Sur #40 56, Poblado</td>
        <td>Hombre</td>
        <td>12/05/1950</td>
        <td>RValencia@hotmail.com</td>
        <td>311254478</td>
        <td>Protesis</td>
        <td>DESCONOCIDO</td>
        <td>DESCONOCIDO</td>
        <td>DESCONOCIDO</td>
    </tr>
    <tr>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
    </tr>
    <tr>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
    </tr>
    <tr>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
    </tr>
    <tr>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
    </tr>
    <tr>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
    </tr>
    <tr>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
    </tr>
    <tr>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
    </tr>

    </tbody>
        </table>
    </div>
</div>