<main class="mb-3">
    <h1>LISTA DE INSUMOS/ENSERES</h1>
    <div class="row">
        <div class="col-lg-12">
            <a href="/inventario" > <button class="btn btn-secondary float-right">Regresar a Página anterior</button></a>
        </div>
    </div>
</main>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="topnav">
    <a href="/ModificarInfoInsumos">Editar información del insumo/enser</a>
    <a href="/ListaInsumos">Eliminar registro</a>
    <div class="search-container">
        <input type="text" placeholder="Buscar" name="Buscar" ><a href="/ListaInsumos"> <i class="fa fa-search"></i>
        </a>
    </div>
</div>
    

<div class="rwd">
    <div class="table table-hover">
        <table class="table">
        <thead>
            <tr>
                <th>NOMBRE DEL PRODUCTO</th>
                <th>REGISTRO SANITARIO</th>
                <th>DESCRIPCIÓN</th>
                <th>STOCK</th>
                <th>ALMACENAMIENTO</th>
                <th>FECHA DE COMPRA</th>
                <th>MARCA</th>
                <th>CATEGORÍA</th>
                <th>PROVEEDOR</th>
                <th>NIT PROVEEDOR</th>
                <th>TEL PROVEEDOR</th>
            </tr>
                </thead>
            <tbody>
            <tr>
                <td>Guantes desechables</td>
                <td>Sencillos Latex</td>
                <td>INVIMA 2013DM-0010548</td>
                <td>4 cajas S, 10 cajas M</td>
                <td>B4: Material básico para odontología</td>
                <td>14/12/2019</td>
                <td>GREAT GLOVE</td>
                <td>Insumo</td>
                <td>abc dental</td>
                <td>900785321-5</td>
                <td>3145874</td>
            </tr>
            <tr>
                <td>Jeringas blanqueamiento 16%</td>
                <td>Blanquea tus dientes de forma rápida, segura y fácil cada jeringa contiene 1,2 ml</td>
                <td>INVIMA 2013DM-0010629</td>
                <td>500</td>
                <td>B2:Material blanqueamientos</td>
                <td>22/01/2020</td>
                <td>Opalescence</td>
                <td>Insumo</td>
                <td>abc dental</td>
                <td>900785321-5</td>
                <td>3145874</td>
            </tr>
            <tr>
                <td>Lampara de fotocurado</td>
                <td>Se utilizan para endurecer (polimerizar) materiales restauradores tras sufrir un proceso de foto activación y como agentes aceleradores en blanqueamientos dentales.</td>
                <td>INVIMA 2018DM-0018582</td>
                <td>4</td>
                <td>D3: Equipos Odontología</td>
                <td>12/04/2018</td>
                <td>WOODPECKER, DTE, ONE CURE</td>
                <td>Enser</td>
                <td>G&B COMERCIALIZADORA</td>
                <td>904125321-1</td>
                <td>5124565</td>
            </tr>
            <tr>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
            </tr>
            <tr>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
            </tr>
            <tr>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
            </tr>
            <tr>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
            </tr>
            <tr>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
            </tr>
            <tr>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
            </tr>
            <tr>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>